{% extends "layout.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-9 map-container">
			<div id="map-canvas"></div>
		</div>
		<div class="col-lg-3 shelf-container">
			<div id="shelf">
				<div class="itinerary-inner">
					<h5>HOTELS</h5>
					<select>
						{% for hotel in hotels %}
						<option>{{hotel.name}}</option>
						{% endfor %}
					</select>
					<h5>RESTAURANTS</h5>
					<select>
						{% for restaurant in restaurants %}
						<option>{{restaurant.name}}</option>
						{% endfor %}
					</select>
					<h5>THINGS TO DO</h5>
					<select>
						{% for thingToDo in thingsToDo %}
						<option>{{thingToDo.name}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
	</div>


<script>
 
{% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ things_to_do | json }};
{% endautoescape %}
 
</script>

{% endblock %}