{% extends "layout.html" %}

{% block content %}
	<div class="row">
		<div class="col-lg-9 map-container">
			<div id="map-canvas"></div>
		</div>
		<div class="col-lg-3 shelf-container">
			<div id="shelf">
				<div id="itinerary-inner">
					<h5>HOTELS</h5>
					<select id="hotel-dropdown"></select> 
					<button class="btn btn-xs btn-info">+</button>

					<h5>RESTAURANTS</h5>
					<select id="restaurant-dropdown"></select>
					<button class="btn btn-xs btn-info">+</button>

					<h5>THINGS TO DO</h5>
					<select id="thingsToDo-dropdown"></select>
					<button class="btn btn-xs btn-info">+</button>
				</div>

			</div>
		</div>
	</div>



<script>
 
{% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ thingsToDo | json }};
{% endautoescape %}
 
</script>


{% endblock %}