body {
	box-sizing:border-box;
  	padding: 50px 0 0 0;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.upper-row {
	margin-top: 15px;
}

.categoryTitle {
	margin:0;
}

#map-canvas {
	width:100%;
	height:100%;
	padding:0;
}

.map-container {
	padding:0;
	height:100%;
	width:75%;
	float:left;
}

.shelf-container {
	height:100%;
	padding:0;
	width:25%;
	float:right;
	overflow: scroll;
	background: lightgray;
}

::-webkit-scrollbar {
	display:none;
}

#shelf {
	background-color:lightgray;
	height:100%;
	width:100%;
	padding:30px;
}

.row {
	height:100vh;
	max-width:100%;
	margin:0;
	background: lightgray;
}

.options-inner {
	padding: 10px 25px 25px 25px;
	background: #eee;
	border-radius: 5px;
}

.options-inner h5 {
	margin:20px 0 3px 0;
}

.itinerary-inner {
	padding: 10px 25px 25px 25px;
	background: #eee;
	border-radius: 5px;
	margin-top: 20px;
}

.navbar-pad {
	padding:0 40px;
}

select {
	margin-right:10px;
	width: 80%;
}

.btn-xs {
	border-radius:20px;
}

.itinerary-inner li {
	font-size: 12px;
}

#itinerary-scroll {
	overflow:scroll;
	max-width:210px;
	max-height:265px;
	background-color:#ddd;
	padding:0 10px 0 10px;
	border-radius:5px;
}

.itinerary-hotel {
	display: none;
}
.itinerary-restaurant {
	display: none;
}
.itinerary-todo {
	display: none;
}

.dayButton {
	background-color: #444;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	margin: 5px;
	color: white;
	padding: 8px 5px 5px 11px;
	margin-top: 9px;
	font-size: 12px;
	cursor: pointer;
}

.dayButton.active {
	background-color: #777;
}

#days-label {
	width:40px;
	height:50px;
	float:left;
	margin-right:10px;
	padding-top:6px;
	color:#777;
}