$light-blue: #a8c9dd;
$medium-brown: #736357;

body {
	box-sizing:border-box;
	padding: 50px 0 0 0;
	font-family: 'Varela Round', sans-serif;

	h4 {
		font-size: 20px;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: darken($medium-brown, 15%);
}

a {
  color: #00B7FF;
}

.navbar-inverse {
	background:#736357;
	border-color: darken($medium-brown, 10%);
}
.navbar-inverse .navbar-nav>.active>a {
	box-shadow: inset 0 0 10px darken($medium-brown, 15%);
	background: darken($medium-brown, 5%);
	color: lighten($light-blue, 10%);
	&:hover {
		background: darken($medium-brown, 10%);
		box-shadow: inset 0 0 10px darken($medium-brown, 20%);
		color: #fff;
	}
}

.navbar-brand {
	padding:11px 14px;
	img {
		height: 25px;
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: #a8c9dd;
}

.upper-row {
	margin-top: 15px;
}

.categoryTitle {
	margin:0;
}

#map-canvas {
	width:100%;
	height:100%;
	padding:0;
}

.map-container {
	padding:0;
	height:100%;
	// width:75%;
	float:left;
}

.shelf-container {
	height:100%;
	padding:0;
	// width:25%;
	float:right;
	overflow: scroll;
	border-left: 2px solid lighten($medium-brown, 25%);
}

::-webkit-scrollbar {
	display:none;
}

#shelf {
	height:100%;
	width:100%;
	padding:30px;
}

.row {
	height:100vh;
	max-width:100%;
	margin:0;
	background: #C8BBAF;
}

.options-inner, .itinerary-inner {
	box-shadow: 0px 5px 5px lighten($medium-brown, 15%);
	padding: 10px 25px 25px 25px;
	background: lighten($medium-brown, 53%);
	border-radius: 10px;

	h5 {
		margin:20px 0 3px 0;
	}
}

.itinerary-inner {
	margin-top: 20px;
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
	float: right;
	width: 25px;
	height: 25px;
}

.navbar-pad {
	padding:0 40px;
}

select {
	margin-right:10px;
	width: 80%;
}

.btn-xs {
	border-radius:20px;
}

.itinerary-inner li {
	font-size: 12px;
}

#itinerary-scroll {
	overflow:scroll;
	max-height:265px;
	background-color:#ddd;
	padding:0 10px 0 10px;
	border-radius:5px;
}

.itinerary-hotel {
	display: none;
}
.itinerary-restaurant {
	display: none;
}
.itinerary-todo {
	display: none;
}

.delete-button {
	width: 14px;
	height: 14px;
	float:right;

	.glyphicon-minus {
		top: -3px;
		left: -6px;
	}
}

.dayButton {
	background-color: transparent;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	border: 2px solid $light-blue;
	margin: 5px;
	color: $light-blue;
	padding: 6px 0px 5px 9px;
	margin-top: 9px;
	font-size: 12px;
	cursor: pointer;
}

.dayButton.active {
	background: $light-blue;
	color: $medium-brown;
}

.days-label {
	font-size: 14px;
	margin-right: 10px;
	padding-top: 6px;
	color: $light-blue;
}

// #site-logo {
// 	height:27px;
// }